.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
details summary {
  list-style: none;
  cursor: pointer;
}

details summary::-webkit-details-marker {
  display: none;
}
.login-page{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#7b2cbf,#9d4edd);
}

.login-card{
  width:900px;
  background:white;
  border-radius:25px;
  overflow:hidden;
  display:flex;
  box-shadow:0 15px 40px rgba(0,0,0,.2);
}

.login-left{
  flex:1;
  background:linear-gradient(135deg,#7b2cbf,#5a189a);
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.login-right{
  flex:1;
  padding:50px;
}.stat-card{
  background:white;
  border-radius:18px;
  padding:25px;
  box-shadow:0 10px 25px rgba(0,0,0,.08);
  transition:.3s;
}

.stat-card:hover{
  transform:translateY(-5px);
}
table{
  background:white;
  border-radius:15px;
  overflow:hidden;
  box-shadow:0 10px 25px rgba(0,0,0,.08);
}